body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font: normal 16px/1.4em -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

body p,
body span,
body ul li,
body ol li {
  font-size: 1em;
  line-height: 1em;
}

subheader {
  display: flex;
  background-color: #ddd;
  color: black;
  margin-top: 52px;
  padding-top: 8px;
  font-size: 16px;
}

subheader a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#playground {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

#input {
  flex: 1;
}

#output {
  flex: 1;
}

#version {
  transition: opacity 0.3s;
  margin-left: 0.3em;
  width: 3em;
}

.popup {
  display: none;
  position: absolute;
  left: -0.5em;
  z-index: 100;
  background-color: #ddd;
  color: black;
  font-size: 80%;
  padding: 1em;
}

.buttons {
  padding: 0;
}

.popup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popup li {
  padding: 0.6em 0;
  margin-right: 0.2em;
}

.versions li {
  width: 60px;
}

.popup.buttons li.button {
  cursor: pointer;
  padding-left: 10px;
}

.popup li:hover {
  background-color: #bbb;
  /* margin-left:4px; */
}

.popup-on-hover {
  position: relative;
}

.popup-on-hover:hover .popup {
  display: inline-block;
}

.popup-on-hover:hover .popup-header {
  text-decoration: underline;
  color: #294E80;

  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.header-item {
  margin-left: 1em;
  margin-left: 1em;
}

.header-item label input {
  margin-right: 8px;
}

.header-item--extra-padding {
  margin-left: 0;
  padding-right: 1em;
}

.compact-list li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.spinner {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.25rem solid white;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;

  opacity: 1;
  transition: 0.3s opacity;
}

.spinner--hidden {
  opacity: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.select-label {
  display: inline-block;
  width: 3em;
}

.select select {
  display: inline-block;
  width: 7em;
  margin-left: 1em;
}

.flash {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 42;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.flash__message {
  border-radius: 1.5em;
  padding: 1em 2em;
  background-color: black;
  color: white;
  opacity: 0.7;
  transition: opacity 0.1s ease-in-out;

  /* help Safari with blurred text */
  transform: translateZ(0);
}

.flash--hidden .flash__message {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#settings-popup {
  overflow-y: auto;
  max-height: calc(100vh - 5rem);
}

label {
  font-weight: normal;
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-left: 5px;
}

.monaco-editor-hover {
  z-index: 2000 !important;
}
